.game-data {
    background-image: -webkit-linear-gradient(top, transparent,rgb(0, 0, 0) 25%,rgba(255, 255, 255, 0));
    padding: 0 200px;
    margin-top: -150px;
}

.new-release {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.new-release-alert {
    height: 25px;
}

.new-release-text {
    margin: 0 15px;
    font-size: 10px;
}

.game-title {
    margin: 20px 0 40px 0;
    font-size: 50px;
}

.game-install-bar {
    padding: 0 60px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #23262f;
    height: 80px;
}

.price {
    font-size: 30px;
}

.install-button {
    height: 40px;
    width: 140px;
    background-color: #2429e1;
    border: none;
    border-radius: 5px;
    color: #DDDDDD;
    cursor: pointer;
}

.game-info-bar {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.game-info-image {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 15px;
}

.game-info {
    margin: 15px;
}