.game-card {
    margin: 15px;
    margin-bottom: 60px;
    max-width: 430px;
}

.game-card-img {
    max-width: 430px;
    display: block;
    border-radius: 10px;
}

.game-card-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}

.game-card-details {
    font-weight: 600;
}

.game-card-price {
    color: #888888;
}

.game-card-buy-button {
    height: 40px;
    width: 140px;
    background-color: #2429e1;
    border: none;
    border-radius: 5px;
    color: #DDDDDD;
    cursor:pointer;
}

